@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Boogaloo&display=swap');

body {
  background-image: url('public/background-leaves.jpg');
  background-size: 88%;
  font-family: 'Futura', sans-serif;
}

form {
  margin: 1rem;
  padding: 1rem;
  text-align: center;
}

h1 {
  float: right;
  font-family: 'Boogaloo', sans-serif;
  font-size: 3em;
}

h4 {
  text-align: center;
}

header {
  color: white;
  margin: 30px;
  padding: 30px;
}

input {
  margin: 10px;
  padding: 5px;
}

main {
  display: flex;
  min-height: 100vh;
}

section {
  display: inline;
  padding: 1rem;
  text-align: center;
}

.controls {
  background-color: rgba(199, 243, 78, .8);
  width: 25%;
}

.form-control-plaintext {
  display: none;
}

.get-all {
  text-align: center;
}

.hidden {
  display: none;
}

.remove-btn {
  text-align: center;
}

.results {
  margin-top: 40px;
}

.index-msg {
  text-align: center;
}

.main-content {
  background-color: rgba(199, 243, 78, .5);
  width: 75%;
}

#loggedin {
  margin-top: 2rem;
}

#signup-in {
  margin-top: 2rem;
  text-align: center;
}
