@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Boogaloo&display=swap');

body {
  background-image: url('public/background-leaves.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 100%;
  font-family: 'Futura', sans-serif;
}

form {
  justify-content: center;
  margin: 1.5rem;
  padding: 1rem;
  text-align: center;
}

h1 {
  float: right;
  font-family: 'Boogaloo', sans-serif;
  font-size: 3em;
}

h4 {
  text-align: center;
}

header {
  color: white;
  margin: 30px;
  padding: 30px;
}

input {
  margin: 10px;
  padding: 5px;
}

main {
  display: flex;
  min-height: 100vh;
}

section {
  display: inline;
  padding: 1rem;
  text-align: center;
}

.controls {
  background-color: rgba(199, 243, 78, .8);
  width: 23%;
}

.form-control-plaintext {
  display: none;
}

.get-all {
  text-align: center;
}

.hidden {
  display: none;
}

.remove-btn {
  justify-content: center;
}

.results {
  margin-top: 40px;
}

.index-msg,
#plots-msg,
#pots-msg {
  align-self: center;
  font-family: 'Boogaloo', sans-serif;
  margin-top: 1rem;
}

#all-plants,
#your-plots,
#your-pots {
  flex-grow: 1;
  justify-content: center;
  text-align: center;
}

.main-content {
  align-items: center;
  background-color: rgba(199, 243, 78, .5);
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 82%;
}

#your-plots {
  height: 100%;
}

#your-pots {
  height: 100%;
}

#loggedin {
  margin-top: 2rem;
}

#plots-index {
  margin: 2rem;
}

#signup-in {
  margin-top: 2rem;
  text-align: center;
}
